/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  background: black;
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
img, iframe{
  display: block;
  margin: 0 auto;
}

article{
  height: 50rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}

.main, iframe{
  height: 90%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  overflow: auto;
}

h1{
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
  size: 3rem;

}

h3{
  color: white;
}

.placeholder{
  height: 35rem;
  width: 40rem;
}

input{
  text-align: center;
}

.buttonSection{
  width: 100%;  
  border: 1px solid #999999;
  padding: 5px;
  display: flex;
  justify-content: center;
}

#inputText, button{
  /* width: 15%;
  margin: 0 auto; 
  height: 5rem; 
  border: 1px solid #999999; 
  padding: 5px;
  text-align: center;
  font-size: 10rem; */

  font-size: 2rem;
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
